/*
 better names
*/
:root{
    --main-bg-color: #02040f;/*fae5df;*/
    --header-bg-color: #02040f;
    --shadow-color: #02040f;
    --main-content-bg-ab: #060B28;
    --small-important-pink: #f5cac2;
    --big-important-pink: #E59500;    
    --small-contrast-blue: #002642;
    --big-contrast-blue: #840032;
    --normal-text-gray: #E5DADA;
    --main-black: #0d0d0d;

	--pallete-main-color: #02040f;
	--pallete-text-color: #e5dada;
	--pallete-highlight-color: #e59500;


    --friends: 32px;
    --close-friends: 16px;
    --best-friends: 8px;
}


a{
    text-decoration: none;
    color: var(--big-important-pink);    
}


body{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Calibri", Calibri;
    display: grid; 
    grid-template-columns: [start] auto 10em 1vw auto 1vw 10em auto [end];
    /*want a start for the welcome*/
    grid-template-rows: auto 4em 1.5vh [main-row-start] auto [main-row-end] 2vh 15em auto [row-end];
    /*background-image: linear-gradient(#DEFEFD, white);*/
    background-repeat: no-repeat;
    color: var(--normal-text-gray);
    background-color: var(--main-bg-color); 
}


h1{
    color: var(--pallete-highlight-color); 
    font-size: 1.5em;
    text-align: center;
}

h2{
	font-size: 1.2em;	
}

section{
    box-shadow: 1px 1px 5px var(--pallete-text-color);  
    background-color: var(--pallete-main-color);
    max-width: 800px;
    min-width: 40%;
    /*
    border-width: 2px;
    border-style: solid;
    border-color: var(--pallete-text-color);
    */
}

#Home, #Showcase, #About, #load-psychosis, #load-cooking, #load-assorted, #load-tayside{
    cursor: pointer;
}

div.main-content-container{
    /*margin: auto;*/
    grid-column: start / end;
    grid-row: main-row-start / row-end;
    
    display: flex;
    justify-content: center;

    /*
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 100%;
    */
    
    background-color: var(--main-bg-color);    
}
