body{
    display: grid; 
    grid-template-columns: 10% 10% [main-content-start] auto [main-content-end] 10% 10%;
    grid-template-rows: 3vh 10vh 3vh 10vh auto 10vh 3vh;
    /*background-image: linear-gradient(#DEFEFD, white);*/
    background-repeat: no-repeat;    
}

/*.left-content-container::-webkit-scrollbar{
    display: none;
}*/


/*.left-content-container{
    overflow-y: scroll;    
    scrollbar-width: none; /*removes the scrollbar in mozzila
    height: 200px;    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.left-content-container::-webkit-scrollbar{display:none;}*/

div.header-content-container{
    background-color: yellow;

    margin: 10px 20px;
    grid-column-start: main-content-start;
    grid-column-end: main-content-end;
    grid-row: 2 / 5;
}

div.left-content-container{
    background-color: pink;

    margin: 10px 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / 6
}


div.main-content-container{
    background-color: red;

    margin: 10px 20px;
    gird-column-start: main-content-start;
    grid-column-end: main-content-end;
    grid-row: 5 / 6;
}


#projects-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#projects-table td, #projects-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#projects-table tr{background-color: #f2f2f2;}

#projects-table tr:hover {background-color: #ddd;}

#projects-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: grey;
}
