/*
  common rules for margin, padding, minimum height/width etc. but differs in float direction

  need to have a play with spacing and experiment with friendships

  obviously I have the main div, then section, then showcase item, then overlay, then the text 
  *define relationships
  *use default friendships and see how it looks in the showcase list
  */

/*
  friendships of each item
  header + text = bfs 8pt
  image and header = friends 16pt
  image and text = friends  16pt
  the div container = friendly 32pt
  between each item should be aquintances
  

*/

:root{
    --friends: 32px;
    --close-friends: 16px;
    --best-friends: 8px;
}

.showcase-item-align-right{
    margin-top: var(--friends);
    float: right;

    min-height: 25vh;    
    min-width: 100%;

    /*border-bottom: 1px solid #202020;*/
}

.showcase-item-align-left{    
    margin-top: var(--friends);
    float: left;

    min-height: 25vh;    
    width: 100%;

    /*border-bottom: 1px solid #202020;*/
}   

div.overlay-right {
    float: right;
    width: 40%;
}

div.overlay-left {
    float: left;
    width: 40%;
}

.overlay-right img{
    width: 100%;
}

.overlay-left img{
    width: 100%;
}

.show{
    visibility: visible;
} 

.showcase-item-right p{
    max-width: 65%;
}

.showcase-item-right h4{
}

.showcase-item-left p{
}

.showcase-item-align-left h4{
}

@media screen and (max-width: 800px) {
    div.showcase-container{
	min-width: 100%;
    }
}
