/*
  common rules for margin, padding, minimum height/width etc. but differs in float direction

  need to have a play with spacing and experiment with friendships

  obviously I have the main div, then section, then showcase item, then overlay, then the text 
  *define relationships
  *use default friendships and see how it looks in the showcase list
  */

/*
  friendships of each item
  header + text = bfs 8pt
  image and header = friends 16pt
  image and text = friends  16pt
  the div container = friendly 32pt
  between each item should be aquintances
  

*/
.showcase-item-align-right{
    margin-top: var(--friends);
    float: right;

    min-height: 25vh;    
    min-width: 100%;

    /*border-bottom: 1px solid #202020;*/
}

.showcase-item-align-left{    
    margin-top: var(--friends);
    float: left;

    min-height: 25vh;    
    width: 100%;

    /*border-bottom: 1px solid #202020;*/
}   

.image-align-right {
    margin: 0px 0px;
    padding: 0px var(--close-friends);
    
    float: right;
    width: 55%;
}

.image-align-right img{
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
}

div.image-align-left {
    margin: 0px 0px;
    padding: 0px var(--close-friends);
				      
    float: left;    
    width: 55%;
}

.image-align-left img{
    width: 100%;
}

.show{
    visibility: visible;
} 

.showcase-item-align-right p{
    max-width: 65%;
}

.showcase-item-align-right h4{
    margin-bottom: var(--best-friends);
}

.showcase-item-align-left p{
    margin: 0px 0px;
}

.showcase-item-align-left h4{
    margin-bottom: var(--best-friends);
}

@media screen and (max-width: 800px) {
    div.showcase-container{
	min-width: 100%;
    }
}
